 @font-face {
  font-family: "DSEG14Modern";
  src: url("fonts/DSEG14Modern-Regular.woff2") format("woff2"),
       url("fonts/DSEG14Modern-Regular.woff") format("woff"),
       url("fonts/DSEG14Modern-Regular.ttf") format("ttf")
} 

html, * {
  box-sizing: border-box;
}
  
html, body {
  height: 100%;
  background-color: rgb(7, 17, 17);
  color: yellow;
}

h1 {
    color: yellow;
    font-family: 'Neucha', cursive;
 }

.scoreboard-wrapper {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: center;
  width: 220px;
  justify-items: center;
  align-items: center;
  font-family: 'Neucha';
  font-size: x-large;
  border-style: solid;
  border: 2px;
  border-radius: 5%;
  background-color: grey;
}

.menu {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: center;
  width: 220px;
  height: 60px;
  justify-items: center;
  align-items: center;
  font-size: xx-large;
  font-family: 'Neucha';
  font-weight: 300;
  border-style: solid;
  border: 2px;
  border-radius: 5%;
}

.monster {
  display: grid;
  justify-content: stretch;
  align-items: stretch;
 }
  
button {
   display: inline-flexbox;
   background-color: grey;
   color: darkblue;
   border: 2px solid white;
   border-radius: 3;
}
  
 button:hover {
   color:whitesmoke;
   font-weight: bold;
 }


 .keyboard {
   display: grid;
   grid-template-columns: 13;
   grid-template-rows: 2;
   padding: 2px;
   border-style: solid;
   border-radius: 4%;
 }

.keytop {
   border-radius: 30%;
   border-color: gold;
   font-family: DSEG14Modern; 
   font-size: xx-large;
   width: 2em;
   height: 2em;
   text-align: center;
}
/* .hover-message-1 {
  display: none;
} */

/* .demo-button:hover + .hover-message-1 {
    display: block;
    text-align: center;
    font-size: large;
    color: white;
} */
  
 
