html, * {
  box-sizing: border-box;
}
  
html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(7, 17, 17);
  color: yellow;
}

h1 {
    color: yellow;
    font-family: 'Neucha', cursive;
    padding-left: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: solid;
    border-radius: 15px;
    margin: 8px 10% 5px 10px;
 }

 nav {
  display: flex;
  flex-direction: row;  /* default. */
  /* justify-content: space-around; */
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  background-color: #a2cbb6;
  border-radius: 15px;
}

nav > button {
  font-size: 30px;
  margin: 0 15px;
  color: yellow;
  border-radius: 15px;
}

nav > button:last-child {
  margin-left: auto;
}

sb-wrapper {
  display: grid;
  grid-template-columns: 275px 60px;
  grid-template-rows: center;
  width: 350px;
  justify-items:flex-end;
  align-items: center;
  font-family: 'Neucha';
  font-size: xx-large;
  /* border-style: solid;
  border: 8px; */
  border-radius: 5%;
  background-color: grey;
  padding: 1px 3px 1px 0;
  margin: 3%;
}
sb-wrapper > div {
  padding: 5px;
}

 /* This section is to deifne the monster portal grid structure */
portal {
    display: grid;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: auto;
    background-color: rgba(200,250,280,0);
    grid-template-columns: 7;
    grid-template-rows: 6;
    grid-template-areas:
    "blank-1 tile-5 tile-5 tile-7 tile-7 tile-6 tile-6"
    "blank-2 tile-4 tile-4 tile-4 tile-3 tile-3 tile-3"
    "blank-3 tile-2 tile-2 tile-2 tile-1 tile-1 tile-1"
}

portal > img {
    width: auto;
    height: auto;
}

#mt-blank-1 {
  grid-area: blank-1;
  justify-self: flex-start;
  align-items: center;
  height: 10px;
  background-color: rgb(7, 17, 17);
}

#mt-blank-2 {
  grid-area: blank-2;
  justify-self: flex-start;
  align-items: center;
  height: 160px;
  background-color: rgb(7, 17, 17);
}

#mt-blank-3 {
  grid-area: blank-3;
  justify-self: flex-start;
  align-items: center;
  height: 160px;
  background-color: rgb(7, 17, 17);
}

#mt-img-1 {
    grid-area: tile-1;
    justify-self:flex-start;
    align-items:center ;
}
#mt-img-2 {
    grid-area: tile-2;
    justify-self:flex-end;
}
#mt-img-3 {
    grid-area: tile-3;
}
#mt-img-4 {
    grid-area: tile-4;
    justify-self:flex-end;
}
#mt-img-5 {
    grid-area: tile-5;
    justify-self:flex-start;
}
#mt-img-6 {
    grid-area: tile-6;
    justify-self:flex-end;
}
#mt-img-7 {
    grid-area: tile-7;
    justify-self:flex-start;
}
 
sec-pwd {
  display: flex;
  flex-direction: row;  /* default. */
  justify-content: center;
  align-items: flex-start;
  background-color: #0c723e;

}
.sec-let {
    /* display: flex; */
    align-items: center;
    height: auto ;
    width: auto;
} 
.sec-let-underline {
    display: flex;
}

sec-pwd > div {
  border-style: solid;
  border-radius: 20%;
  border-color: gold;
  justify-items: center;
  align-items:flex-end ;
  padding: 1em;
  font-size: xx-large;
  width: 2em;
  height: 2em;
  text-align: center;
  background-color: rgb(30,113,65);
}

underlines {
  display: flex;
  grid-template-rows: 11;
  background-color: greenyellow;
  border-radius: 50%;
  height: 1px;
}

underlines > div {
  background-color: greenyellow;
  border-radius: 50%;
  height: 1px;
}

button {
   display: inline-flexbox;
   background-color: grey;
   color: darkblue;
   border: 2px solid white;
   border-radius: 3;
}
  
 button:hover {
   color:whitesmoke;
   font-weight: bold;
 }


 .keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2;
  flex-wrap: nowrap;
  justify-content:space-around;
  /* justify-items: center; */
  align-items: center;
  margin: 0 350px;
 }

 .keyboard > button{
   justify-content: space-around;
   align-items: center;
   border-style: solid;
   border-radius: 25%;
   margin: 20x 0 2px 0; 
 }

.keytop {
/*   display: flex; */
   border-radius: 30%;
   border-color: gold;
   justify-content: center;
   align-items: center;
   font-size: xx-large;
   width: 2em;
   height: 2em;
   text-align: center;
}
/* .hover-message-1 {
  display: none;
} */

.hidden {
  display: inline-block;
  color :  rgb(7, 17, 17);
  border-color:  rgb(7, 17, 17);
  background-color:  rgb(7, 17, 17);
}

#demo-button:hover + #demo-button + #demo-button-hidden-msg {
    display: inline-block;
    text-align: center;
    font-size: large;
    color: white;
    border-color: white;
}

#demo-button > hover-message-1{
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: red;
}